.title-font {
  font-size: x-large;
  font-weight: bold;
}

::ng-deep .big-icon{
  height:48px !important;
  width:48px !important;
  font-size:48px !important;
}

.border-solid {
  border: solid black !important;
  min-height: 5vh;
}

.spinner-center {
  text-align: center;
  text-align: -webkit-center;
  margin-top: 1vh;
}

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #000000;
}

.execution-result {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 3vh;
}
